<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuuuzzzin.offoff_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OffoffApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OffOff_Android"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.ui.schedule.ScheduleTypeSettingActivity"></activity>
        <activity android:name=".view.ui.schedule.AddScheduleActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.board.PostWriteActivity" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".view.ui.member.SignupActivity" />
        <activity android:name=".view.ui.member.LoginActivity" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!--  -->
        <activity android:name=".view.ui.board.PostActivity" />
        <activity android:name=".view.ui.board.BoardActivity" />
        <activity android:name=".view.ui.UserActivity" />
        <activity android:name=".view.ui.SearchActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>