aniso8601==9.0.1
attrs==21.2.0
bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.6
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
Flask==1.1.4
flask-restx==0.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
jwt==1.2.0
MarkupSafe==2.0.1
numpy==1.21.0
pandas==1.2.5
pycparser==2.20
pymongo==3.11.4
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
Werkzeug==1.0.1
wincertstore==0.2
