aniso8601==9.0.1
attrs==21.2.0
bcrypt==3.2.0
boto3==1.20.5
botocore==1.23.5
certifi==2021.5.30
cffi==1.14.6
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
Flask==1.1.4
Flask-JWT-Extended==4.3.1
flask-restx==0.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
jwt==1.2.0
MarkupSafe==2.0.1
numpy==1.21.0
pandas==1.2.5
pycparser==2.20
PyJWT==2.3.0
pymongo==3.11.4
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.7
Werkzeug==1.0.1
wincertstore==0.2
