aniso8601==9.0.1
attrs==21.2.0
bcrypt==3.2.0
boto3==1.18.36
botocore==1.21.36
cffi==1.14.6
click==8.0.1
Flask==2.0.1
Flask-JWT-Extended==4.3.0
flask-restx==0.5.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==2.0.1
pycparser==2.20
PyJWT==2.1.0
pymongo==3.12.0
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.6
Werkzeug==2.0.1
